<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{myMethode.nom}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <div text-center>
      <ion-card-header text-wrap>
        {{myMethode.nom}}
      </ion-card-header>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-content text-wrap>
      {{myMethode.listeElements[i].texte}}
    </ion-card-content>
  </ion-card>

  <div text-center>
    <button ion-button (click)="boutonTapped()" round>{{myMethode.listeElements[i].bouton}}</button>
  </div>
</ion-content>
