<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Boîte aux cartes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager>
    <ion-slide ion-dimension *ngFor="let dimension of dimensions">
      <div class="dimension">
        <p>{{dimension.name}}</p>
        <img (click)="dimensionTapped($event, dimension.name) " width="300" height="300" src="assets/imgs/{{dimension.path}}.png"
        />
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>