<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{myCarte.dim}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <div text-center>
      <ion-card-header>
        {{title}}
      </ion-card-header>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-content>
    <div align="justify">
      {{texte}}
    </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
  <img src = "{{image}}" > <!-- {{myCarte.listeElements[i].image}} -->
  </ion-card>

  <div text-center>
   <button ion-button (click)="boutonTapped()" round>{{nomBouton}}</button>
  </div>
</ion-content>
