<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{myCarte.dim}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <div text-center>
      <ion-card-header>
        {{myCarte.nom}}
      </ion-card-header>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header text-wrap>
      Savais-tu que ?
    </ion-card-header>
    <ion-card-content text-wrap>
      <div align="justify">
        <p>
          <B>{{myCarte.listeElements[i].sujet}}</B>
        </p>
        <p>
          <FONT color="#00BA00">{{myCarte.listeElements[i].positif}}</FONT>
        </p>
        <p>
          <br/> {{texte}} {{valeur_mais}}
        </p>
        <p>
          <FONT color="#FF0000">{{myCarte.listeElements[i].negatif}}</FONT>
        </p>
        <p>
          <br/> {{valeur_conseil}}
          <I>
            <FONT color="#383838">{{myCarte.listeElements[i].conseil}}</FONT>
          </I>
        </p>
      </div>
    </ion-card-content>
  </ion-card>

  <div text-center>
    <button ion-button (click)="boutonTapped()" round>{{myCarte.listeElements[i].bouton}}</button>
  </div>
</ion-content>