<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{myCarte.dim}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <div text-center>
      <ion-card-header>
        {{myCarte.nom}}
      </ion-card-header>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Savais-tu que ?
    </ion-card-header>
    <ion-card-content>
      {{myCarte.listeElements[i].texte}}
    </ion-card-content>
  </ion-card>

  <div text-center>
    <ion-card>
        <button ion-button (click)="boutonTapped()" round>{{myCarte.listeElements[i].bouton}}</button>
    </ion-card>
  </div>
</ion-content>
