<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{myCarte.dim}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <div text-center>
      <ion-card-header>
        {{title}}
      </ion-card-header>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-content>
      {{texte}}
    </ion-card-content>
    <ion-list radio-group [(ngModel)]="autoManufacturers">
      <ion-item *ngFor="let radioBouton of radioBoutons">
        <ion-label>{{radioBouton}}</ion-label>
        <ion-radio value="{{radioBouton}}" (ionSelect)="radioBoutonTapped($event, radioBouton)"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>

  <div text-center>
    <button ion-button (click)="boutonTapped()" round>{{nomBouton}}</button>
  </div>
</ion-content>